{
  "parser": "@babel/eslint-parser",
  "globals": {
    "window": true,
    "document": true
  },
  "extends": "airbnb",
  "rules": {
    "guard-for-in": "warn",
    "indent": ["error", 4],
    "no-floating-decimal": 0,
    "react/no-array-index-key": 0,
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types": 0,
    "react/button-has-type": 0,
    "react/no-unescaped-entities": 0,
    "react/static-property-placement": 0,
    "no-unused-vars": 0,
    "jsx-a11y/alt-text": 1,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreComments": true
      }
    ]
  }
}
