[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
autopep8 = "*"
pylint = "*"
numpy = "*"
beautifulsoup4 = "*"
selenium = "*"
pandas = "*"
lxml = "*"
xlrd = "*"
openpyxl = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.8"
